<footer id="myfooter" class="footer" style="background-color: #f5f5f5;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 text-muted" style="font-size: 12px;">
        © 2019 Luc N., Lukas B., Phil H.
      </div>
      <div class="col-3 text-right">
              <a href="/impressum" title="Impressum">Impressum</a>
            </div>
      <div class="col-3 text-right">
        <a href="#top" title="nach oben"><img id="symbol" src="/images/slideup.svg" style="width: 15px; padding-bottom: 4px;"></a>
      </div>
    </div>
  </div>
</footer>
