<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>

    <meta name="author" content="Luc, Phil, Lukas"/>
    <meta charset="UTF-8">

    <% include partials/stylesheet.ejs %>

  </head>

  <body>

    <div class="wrapper">

      <% include partials/header.ejs %>

      <main role="main" class="container-fluid">
        <div class="row">
           <div class="col-12">
            <h1><%= title %></h1>
            <p><strong>Autor
            <br></strong>Luc N.
            <br>Phil 
            <br>Lukas </p>

            <p><strong>Universit채t
            <br></strong>Westf채lische Wilhelms-Universit채t M체nster
            <br> <img id="wwu_logo" class="img-fluid" src="/images/wwu_logo.png" alt="WWU Logo" style="padding-right: 15px; padding-left: 15px; margin-bottom: 1%; margin-top: 1%;">
            </p>

            <p><strong>Kurs
            <br></strong>
            <br>Geosoftware I
            <br>Sommersemester 2019
            <br>Matthias S.</p>
          </div>
        </div>
      </main>
    </div>

      <% include partials/footer.ejs %>

  </body>
</html>

<script src="/jquery/jquery.min.js"></script>

<script src="/bootstrap/js/bootstrap.min.js"></script>
